<%= content_tag :div, class: :row, data: { controller: 'draggable' } do %>
  <%= form_with(model: [@topic, @column], local: true) do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <% @topic.columns.each do |column| %>
    <div class='col'>
      <div class='card'>
        <h5 class='card-title'><%= column.title %></h5>
        <div class='card-body'>
          <%= content_tag :ul, class: 'card-text dropzone', data: { id: column.id, target: 'draggable.column' } do %>
            <%= render column.todos, todo: @todo, column: column %>
          <% end %>
        </div>
        <%#= link_to "New Todo", new_topic_column_todo_path(@topic, column) %>
        <%= form_with(model: [@topic, column, @todo], local: true) do |form| %>
          <div class='fields'>
            <%= form.label :content %>
            <%= form.rich_text_area :content %>
          </div>
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%#= link_to "New Column", new_topic_column_path(@topic) %>
<%#= link_to "Resources", resource_path(@topic) %>
