<nav class="sidenav">
  <%= link_to "All Projects", topics_path, class: '' %>
  <% @topics.each do |topic| %>
    <%= link_to topic.title, topic_path(topic), class: '' %>
  <% end %>
</nav>

<div class="main">
  <h1><%= @topic.title %></h1>

  <div id="topics">
    <% if @topic.resources.blank? %>
      add a resource
    <% else %>
      <% @topic.resources.each do |resource| %>
        <p><%= resource.title %></p>
          <p><%= button_to "x", resource_path(resource),
                method: :delete,
                data: { remote: true } %></p>
      <% end %>
    <% end %>
  </div>

  <div id="todos">
    <% if @topic.todos.blank? %>
      add a todo
    <% else %>
      <% @topic.todos.each do |todo| %>
        <p><%= todo.title %></p>
          <p><%= button_to "x", todo_path(todo),
          method: :delete,
          data: { remote: true } %></p>
          <%= simple_form_for todo, remote: true do |f| %>
            <%= f.check_box :completed %>
            <%= f.button :submit %>
          <% end %>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for([ @topic, @resource ], html: { autocomplete: 'off' }, remote: true) do |f| %>
    <%= f.input :title %>
    <%= f.button :submit %>
  <% end %>

  <%= simple_form_for([ @topic, @todo ], html: { autocomplete: 'off' }, remote: true) do |f| %>
    <%= f.input :title %>
    <%= f.button :submit %>
  <% end %>
</div>
